doctype html
html
  head
    title  Mi Anime Favorito
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/estilos.css')
  body
    h1 Combat Continet
    | &#x9;&#x9;
    .contenedor
      p  &quot;Sinopsis:&quot;
      | &#x9;&#x9;&#x9;
      p
        | Tang ha pasado toda su vida dedicado a la creaci&oacute;n y dominio de armas ocultas en la secta Tang.
        | Pero, cuando roba la sabidur&iacute;a oculta para llegar a el conocimiento m&aacute;ximo, su &uacute;nica salida es la muerte.
        | Por ello, Tang se lanza des de la cima del infiero y renace en un mundo diferente, el mundo de Doulou Dalu,
        | donde a cada persona le corresponde un esp&iacute;ritu y los que tienen poderosos pueden alzarse y convertirse
        | en esp&iacute;ritus masters.
      p
        | Genero : accion - aventura - Escolar - fantasia -Romance -sobrenatural - lucha -cultivacion - Magia
      | &#x9;&#x9;&#x9;
      | &#x9;&#x9;&#x9;
      img(src='./images/combat-continent.png', width='250')
      | &#x9;&#x9;&#x9;
      a.datos(href='./datos')  volver 
