doctype html
html
  head
    title  Mi Anime Favorito
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/estilos.css')
  body
    h1 Martial Master
    | &#x9;&#x9;
    .contenedor
      p  &quot;Sinopsis:&quot;
      | &#x9;&#x9;&#x9;
      p
        | TEn el continente hubo una leyenda llamado Qin Chen, por traici&oacute;n de su amigo cay&oacute; en un precipicio.
        | Luego de 300 a&ntilde;os, &eacute;l reencarna, utilizando sus conocimientos, vuelve al mundo marcial.
      p  genero : recarnacion -cultivacion - artes marciales
      | &#x9;&#x9;&#x9;
      | &#x9;&#x9;&#x9;
      img(src='./images/Martial Master.png', width='250')
      | &#x9;&#x9;&#x9;
      a.datos(href='./datos')  volver 
