doctype html
html
  head
    title  Mi Anime Favorito
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/estilos.css')
  body
    h1 Throne of Seal
    | &#x9;&#x9;
    .contenedor
      p  &quot;Sinopsis:&quot;
      | &#x9;&#x9;&#x9;
      p
        | El clan demonio es fuerte, cuando los humanos estaban por extinguirse se levantaron 6 palacios santos,
        | liderando a los humanos a proteger las &uacute;ltimas tierras que les quedan. Un joven por querer salvar a su madre
        | se une al palacio de caballeros creando milagros...
      | &#x9;&#x9;&#x9;
      |             
      p Genero: Accion  -cultivacion -demonio- lucha
      | &#x9;&#x9;&#x9;
      img(src='./images/Throne of Seal.png', width='250')
      | &#x9;&#x9;&#x9;
      a.datos(href='./datos')  volver 
