doctype html
html
  head
    title  Mi Anime Favorito
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/estilos.css')
  body
    h1 yuan Long
    | &#x9;&#x9;
    .contenedor
      p  &quot;Sinopsis:&quot;
      | &#x9;&#x9;&#x9;
      p
        | Wang Sheng un francotirador al estar en medio de una misi&oacute;n
        | repentinamente es llamado por una misteriosa mujer la cual le pide
        | que la busque y la asesine, luego de esto en transportado a otro mundo
        | el cual se hace llamar continente esp&iacute;ritu Yuan, aqu&iacute; se encuentra en una
        | situaci&oacute;n con una chica la cual lo se&ntilde;ala como su prometido con tal de evadir
        | un matrimonio arreglado con otra familia, con la finalidad de reunir mas informaci&oacute;n
        | se dispone a seguirle la corriente para as&iacute; saber m&aacute;s sobre el continente de los esp&iacute;ritus
        | Yuan e ir en busca de la mujer F&eacute;nix qui&eacute;n le pidi&oacute; que la busque y la cu&aacute;l hab&iacute;a visto en
        | sus sue&ntilde;os ya tiempo atr&aacute;s.
      | &#x9;&#x9;&#x9;
      |             
      p Genero:  accion - demonio - romance - historia - lucha - vida otro mundo
      | &#x9;&#x9;&#x9;
      img(src='./images/yuan Long.png', width='250')
      | &#x9;&#x9;&#x9;
      a.datos(href='./datos')  volver 
