doctype html
html
  head
    title  Mi Anime Favorito
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/estilos.css')
  body
    h1 Quan Zhi Fa Shi
    | &#x9;&#x9;
    .contenedor
      p  &quot;Sinopsis:&quot;
      | &#x9;&#x9;&#x9;
      p
        | Mo Fan despert&oacute; en un mundo familiar donde todo hab&iacute;a cambiado bastante,
        | su escuela se hab&iacute;a convertido en una escuela donde se ense&ntilde;aba magia,
        | anim&aacute;ndolos a convertirse en poderosos magos. Fuera de la ciudad, m&aacute;gicas bestias
        | y monstruos atacaban y apresaban a los seres humanos. Un mundo de ciencia muy avanzada,
        | paso a ser una ciudad en donde ahora la magia era lo m&aacute;s avanzado. A pesar de esto,
        | su ambici&oacute;n en la vida y su situaci&oacute;n se manten&iacute;an igual. Una escoria de la sociedad,
        | un padre que lucha contra muchos problemas y una media hermana discapacitada que no puede caminar.
        | Sin embargo, Mofan descubri&oacute; que mientras todos los dem&aacute;s solo pod&iacute;an manejar un elemento principal,
        | &eacute;l era capaz de mucho m&aacute;s.
      | &#x9;&#x9;&#x9;
      |             
      p Genero:aventura -Escolar -fantasia -cultivacion - magia
      | &#x9;&#x9;&#x9;
      img(src='./images/Quan Zhi Fa Shi.png', width='250')
      | &#x9;&#x9;&#x9;
      a.datos(href='./datos')  volver 
