doctype html
html
  head
    title  Mi Anime Favorito
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/estilos.css')
  body
    h1 Tales of Demons and Gods
    | &#x9;&#x9;
    .contenedor
      p  &quot;Sinopsis:&quot;
      | &#x9;&#x9;&#x9;
      p
        | Nie Li, el m&aacute;s fuerte guerrero espiritual en su vida pasada estuvo en la cima del mundo marcial,
        | sin embargo, perdi&oacute; la vida durante la batalla con el Emperador sabio, y fue devuelto al pasado cuando
        | ten&iacute;a 13 a&ntilde;os. Aunque &eacute;l es el m&aacute;s d&eacute;bil de su clase con la ayuda de sus vastos conocimientos acumulados
        | de su vida anterior, se transformara en un guerrero temible.
      | &#x9;&#x9;&#x9;
      |             
      p
        | Genero: Accion -comedia - demonio-aventura -Escolar -fantasia -cultivacion - harem- lucha
      | &#x9;&#x9;&#x9;
      img(src='./images/Tales of Demons and Gods.png', width='250')
      | &#x9;&#x9;&#x9;
      a.datos(href='./datos')  volver 
