doctype html
html
  head
    title  Mi Anime Favorito
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/estilos.css')
  body
    h1 Wonderland
    | &#x9;&#x9;
    .contenedor
      p  &quot;Sinopsis:&quot;
      | &#x9;&#x9;&#x9;
      p
        | El maestro de Ye Xing Yun va a ascender al cielo, dejando atr&aacute;s la enorme fuerza de la Secta Tian Yuan,
        | y Ye Xing Yun haci&eacute;ndose el nuevo Soberano de la Secta Tian Yuan, y siguiendo la petici&oacute;n de su maestro,
        | buscar&aacute; venganza entrando en una peque&ntilde;a familia mientras espera para realizar la venganza. Ye Xing Yun se
        | embarca en una carretera extremadamente peligrosa, pero con su estrategia, y con la ayuda de los maestros
        | de la secta Tian Yuan, comenzar&aacute; una confrontaci&oacute;n con la enorme dinast&iacute;a Zhou..
      | &#x9;&#x9;&#x9;
      |             
      p Genero: Accion  -Romance -Artes marciales - cultivo
      | &#x9;&#x9;&#x9;
      img(src='./images/Wonderland.png', width='250')
      | &#x9;&#x9;&#x9;
      a.datos(href='./datos')  volver 
