doctype html
html
  head
    title  Mi Anime Favorito
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/estilos.css')
  body
    h1 Against the Sky Supreme
    | &#x9;&#x9;
    .contenedor
      p  &quot;Sinopsis:&quot;
      | &#x9;&#x9;&#x9;
      p
        | El Supremo Hong Meng fue traicionado por sus dos amigos Supremos donde lo maldicen para que
        | reencarne miles de vidas y que cada una de ellas termine con su familia aniquilada. En su &uacute;ltima
        | vida antes de que su conciencia espiritual se desvanezca para siempre, su conciencia Supremo vuelve
        | a su cuerpo, recuperando todas las memorias de sus vidas pasadas. Aqu&iacute; comienza el camino de venganza
        | contra sus amigos que &eacute;l mismo los consideraba hermanos.
      | &#x9;&#x9;&#x9;
      |             
      p Genero: accion -demonios-romance-Recarnacion -Artes marciales - cultivo
      | &#x9;&#x9;&#x9;
      img(src='./images/Against the Sky Supreme.png', width='250')
      | &#x9;&#x9;&#x9;
      a.datos(href='./datos')  volver 
