doctype html
html
  head
    title  Mi Anime Favorito
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/estilos.css')
  body
    h1 Magic Chef of Ice and Fire 
    | &#x9;&#x9;
    .contenedor
      p  &quot;Sinopsis:&quot;
      | &#x9;&#x9;&#x9;
      p
        | El joven Rong Nian Bing fue a la Torre de la diosa de hielo con su padre para salvar a su madre.
        | Pero al llegar ah&iacute; no s&oacute;lo no pudieron salvar a su madre, sino que su padre tambi&eacute;n cay&oacute; en la Torre
        | de la diosa de hielo, solo Nian Bing se salv&oacute;. Sosteniendo las gemas que le dejaron su padres salt&oacute;
        | en un precipicio cayendo en el r&iacute;o Tian Qing. Fue hasta el bosque de flores de melocot&oacute;n donde conoci&oacute;
        | a un hombre, el chef fantasma Cha Ji. Ocho a&ntilde;os de duro entrenamiento le dieron una habilidad culinaria
        | de primer nivel, pero en ese momento, Cha Ji muri&oacute; repentinamente. Desde entonces, viaj&oacute; por todo el
        | continente para mejorar sus habilidades culinarias, tambi&eacute;n cultiv&oacute; su legendaria magia de hielo y fuego.
        | &iquest;Podr&aacute; vengar a sus padres? &iquest;Podr&aacute; conocer el verdadero amor en este vasto continente? &iquest;Ser&aacute; capaz de elevar
        | hasta la cima sus habilidades culinarias? Todo estas respuestas se conocer&aacute;n viendo esta sorprendente serie.
      | &#x9;&#x9;&#x9;
      |             
      p Genero: accion -demonios-comedia-Magia - cultivo
      | &#x9;&#x9;&#x9;
      img(src='./images/Magic Chef of Ice and Fire.png', width='250')
      | &#x9;&#x9;&#x9;
      a.datos(href='./datos')  volver 
