doctype html
html
  head
    title  Mi Anime Favorito
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/estilos.css')
  body
    h1 Cien refinamientos para convertirse en un Dios
    | &#x9;&#x9;
    .contenedor
      p  &quot;Sinopsis:&quot;
      | &#x9;&#x9;&#x9;
      p
        | tambi&eacute;n llamado aphoteosis, La novela habla principalmente de Luo Zheng,
        | que cay&oacute; de la nube y se convirti&oacute; en un humilde esclavo de la familia. Se
        | convirti&oacute; en un arma, la familia cay&oacute; y su hermana fue encarcelada por fuerzas
        | poderosas. El destino de Luo Zheng fue arreglado por Dios. O el los llamados sin vida?
        | &iquest;Cu&aacute;nto durar&aacute; la confrontaci&oacute;n entre la raza humana, la raza demon&iacute;aca nocturna y la
        | raza demon&iacute;aca? &iquest;Cu&aacute;l es la fuerza misteriosa detr&aacute;s de todo esto? El preludio de una
        | lucha comenz&oacute; con una explosi&oacute;n.
      | &#x9;&#x9;&#x9;
      |             
      p Genero:  accion - animacion -aventura -demonios-drama-fantasia-venganza-cultivo
      | &#x9;&#x9;&#x9;
      img(src='./images/Cien refinamientos para convertirse en un Dios.png', width='250')
      | &#x9;&#x9;&#x9;
      a.datos(href='./datos')  volver 
