doctype html
html
  head
    title  Mi Anime Favorito
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/estilos.css')
  body
    h1 Legend Of Immortals 
    | &#x9;&#x9;
    .contenedor
      p  &quot;Sinopsis:&quot;
      | &#x9;&#x9;&#x9;
      p
        | Un ni&ntilde;o naci&oacute; naturalmente incapaz de practicar el ascetismo y la fuerza interior.
        | Para llamar la atenci&oacute;n de su padre, decidi&oacute; practicar la fuerza exterior de la manera
        | m&aacute;s dolorosa. Lleg&oacute; la primavera, lleg&oacute; el oto&ntilde;o, el tiempo vol&oacute;, este ni&ntilde;o creci&oacute; a medida
        | que pasaba el a&ntilde;o.... Se convirti&oacute; en un adolescente, lo que cambi&oacute; su destino es una lanza
        | que est&aacute; hecha de una estrella fugaz/estrella fugaz que se convirti&oacute; en una lanza....
      | &#x9;&#x9;&#x9;
      |             
      p
        | Genero:  accion -aventura- fantasia- romance -artes marciales -drama - cultivacion
      | &#x9;&#x9;&#x9;
      img(src='./images/Legend Of Immortals.png', width='250')
      | &#x9;&#x9;&#x9;
      a.datos(href='./datos')  volver 
