doctype html
html
  head
    title  Mi sitio web
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/estilos.css')
  body
    h1
      a(href='/') Mi anime Favorito
    | &#x9;&#x9;
    .contenedor
      .item
        img(src='./images/01.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='./01')  Datos 
      | &#x9;&#x9;&#x9;
      .item
        img(src='./images/02.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='./02')  Datos 
      | &#x9;&#x9;&#x9;
      .item
        img(src='./images/03.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='./03')  Datos 
      | &#x9;&#x9;&#x9;
      .item
        img(src='./images/04.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='./04')  Datos 
      | &#x9;&#x9;&#x9;
      .item
        img(src='./images/05.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='./05')  Datos 
      | &#x9;&#x9;&#x9;
      .item
        img(src='./images/06.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='06')  Datos 
      | &#x9;&#x9;&#x9;
      .item
        img(src='./images/07.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='./07')  Datos 
      | &#x9;&#x9;&#x9;
      .item
        img(src='./images/08.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='08')  Datos 
      | &#x9;&#x9;&#x9;
      .item
        img(src='./images/09.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='09')  Datos 
      | &#x9;&#x9;&#x9;
      .item
        img(src='./images/10.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='10')  Datos 
      | &#x9;&#x9;&#x9;
      .item
        img(src='./images/11.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='11')  Datos 
      |             
      .item
        img(src='./images/12.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='12')  Datos 
      | &#x9;&#x9;
      .item
        img(src='./images/13.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='13')  Datos 
      | &#x9;&#x9;&#x9;
      .item
        img(src='./images/14.png', width='250')
        | &#x9;&#x9;&#x9;&#x9;
        a.datos(href='14')  Datos 
