doctype html
html
  head
    title  Mi Anime Favorito
    
    meta(charset='UTF-8')
    
    link(rel='stylesheet', type='text/css', href='./stylesheets/estilos.css')
  body
    h1 Mi anime actual
    
    .contenedor
      p  &quot;Sitio web del anime que me gusta&quot;
      
      img(src='./images/a.png', width='250')
      
      a.datos(href='./datos')  Datos 